/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: blue;
   }
nav{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
nav svg{
 margin-top: 3rem;
}
.nav-item{
  margin-top: 2rem;
  margin-right: 2rem;
}
.nav-item-active{
  margin-top: 2rem;
  background-color: white;
  color: blue;
  border-radius: 5px;
  padding: 4px 5px;
  cursor: pointer;
}
.logo{
  height: 2rem;
  margin-left: 2rem;
  margin-top: -5rem;
}
.header-text{
  display: inline;
  justify-content: flex-start;
  height: 70%;
}
.header-text img{
 margin-left: 2rem;
 margin-top: 4rem;
}
.header-text h2{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  margin-left: 2rem ;

}
.header-text p{
  font-size: 1.2rem;
  color: #fff;
  margin-top: 1.5rem;
  margin-left: 2rem;
  }
.header-image{
  height: 320px;
  margin-left: 75%;
  position: absolute;
  margin-top: 8rem;
  top: 0;
}